@import "tailwindcss";
@import "@fontsource-variable/jetbrains-mono/wght.css";

@theme inline {
    --font-mono: "JetBrains Mono Variable", monospace;
    --color-background: #0a0a0a;

    --color-neutral-900: #0a0a0a;
    --color-neutral-700: #171719;
    --color-neutral-600: #202022;
    --color-neutral-500: #2e2e2e;
    --color-neutral-400: #3d3d3d;
    --color-neutral-300: #454547;
    --color-neutral-200: #9d9d9d;
    --color-neutral-100: #c6c6c6;
    --color-neutral-50: #ffffff;

    --color-lime-500: #cef739;
    --color-lime-800: #283300;

    --color-green-500: #42eb05;

    --color-red-500: #ff4141;

    /*font sizes*/
    --text-2xs: 0.625rem;
}

@layer {
    html {
        @apply font-mono bg-background;
    }
}
